<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela Início</title>
</head>
<body>
    <div>
        <div>
            <h1>Aluno</h1>
            <a href="form-cadastrar-aluno.php">Cadastrar</a>
        </div>
        <div>
            <h1>Processo</h1>
            <a href="form-cadastrar-processo.php">Iniciar Processo</a>
        </div>
        <div>
            <h1>Instrutor</h1>
            <a href="form-cadastrar-instrutor.php">Cadastrar</a>
        </div>
        <div>
            <h1>Veículo</h1>
            <a href="form-cadastrar-veiculo.php">Cadastrar</a>
        </div>
        <div>
            <h1>Aula prática</h1>
            <a href="agendar-aula-pratica.html">Agendar Aula</a>
        </div>
    </div>
    
</body>
</html>