@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --Branco-azulado: #F4FAFF;
    --Azul-Claro: #216ec8;
    --Preto-azulado: #08090A;
    --Branco: #FFFFFF;
    --Cinza: #E0E0E0;
    --Laranja: #FF9233;
}

body{
    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
    padding: 0;
}

.fundo-azul-claro{
    background-color: var(--Azul-Claro);
}

.fundo-branco-azulado{
    background-color: var(--Branco-azulado);
}

.login{  
    display: flex;

    height: 95vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    box-sizing: border-box;
}

.quadro-azul{
    /* width: 30%; */
    /* height: 80%; */
    /* border-radius: 30px; */
    /* background-color: var(--Azul-Claro); */
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-quadro-azul{
    width: 50%;
    height: auto;
}

.formulario-login{
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;

    margin: 10px;
    background-color: var(--Branco-azulado);
    padding: 40px;
    border-radius: 28px;
}

.titulo-formulario{
    font-family: Inter;
    font-size: 32px;
    color: var(--Preto-azulado);
    font-weight: bold;
    margin: 0;
}

.campos-login{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.campo-login-1{
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.titulo-campo{
    font-family: Inter;
    font-size: 16px;
    color: var(--Preto-azulado);
    margin: 0;
}

.input-campo{
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-size: 16px;

    width: 300px;
    height: 40px;
    background-color: var(--Branco);
    border: 1px solid var(--Cinza);
    color: var(--Preto-azulado);
    border-radius: 8px;
}

button[type="submit"]{
    background-color: var(--Laranja);
    color: var(--Branco);
    width: 310px;
    height: 40px; 
    text-align: center;  
    font-size: 16px;           
    border: none;
    border-radius: 8px;
    cursor: pointer;

}

button[type="submit"]:hover{
    background-color:#ff7e0d;
    box-shadow: 0 1px 1px 0 rgba(182, 182, 182, 0.2);
}

a{
    color: var(--Branco-azulado);
    text-decoration: none;
    transition: 0.3s;
}

a:hover{
    opacity: 0.7;
}

.logo-navbar{
    font-size: 24px;
    display: flex;
    align-items: center;

    /* padding-bottom: 20px; */
}

nav{
    display: flex;
    /* justify-content: space-around; */
    align-items:flex-start;

    font-family: Inter;
    font-weight: bold;
    letter-spacing: 0.8px;

    background-color: var(--Azul-Claro);
    width: 35vh;
    height: 100vh;
    flex-direction: column;

    /* transform: translateX(-75%); */

}

.lista-navbar{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.lista-navbar li{
    margin-bottom: 26px;
}

.logo-icon-navbar{
    width: 30%;
    height: auto;
    margin-right: -10px;
    margin-left: -10px;
}

.cabecalho-navbar{
    display: flex;
    align-items: center;

    padding-left: 20px;
}

.seta-divbar{
    /* padding-bottom: 20px; */
    color: var(--Branco-azulado);
    flex-direction: row;
    padding: 0 30px 0 30px;
}

.usuario-navbar{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 30px 20px 30px 20px;
    
}

.foto-usuario{
    display: flex;
    width: 70px; 
    height: 70px;
    min-width: 70px;
    min-height: 70px; 
    border-radius: 50%; 
    overflow: hidden; 
    border: 2px solid var(--Branco-azulado); 
    display: flex;
    align-items: center;
    justify-content: center; 
}

.foto-usuario img {
    width: 100%;
    height: auto;
}

.informacoes-usuario{
    display: flex;
    flex-direction: column;

    padding-left: 5px;
}

.nome-usuario{
    display: flex;
    color: var(--Branco-azulado);
    line-height: 1;
    align-items: start;
}

.cpf-usuario{
    display: flex;
    color: var(--Branco-azulado);
    font-weight: lighter;
    align-items: end;
}
.sair-usuario{
    display: flex;
    color: var(--Branco-azulado);
    
    width: 20px;
    height: auto;
}

.botao-sair-usuario{
    display: flex;
    justify-content: flex-end;

}

.texto-cabecalho-pagina{
    color: var(--Azul-Claro);
    font-weight: bold;
}

.cabecalho-pagina{
    width: 100%;
    padding: 15px;
    border-bottom: 1px solid var(--Cinza);
}

main{
    width: 100%;
}